.Rproj.user
.Rhistory
.RData
.Ruserdata
src/*.o
src/*.so
src/*.dll
inst/*.bbl
inst/*.out
inst/*.blg
inst/*.log
inst/*.toc
inst/*.aux
inst/*.pdf
docs
.github/.gitignore
inst/Sweave.sty
inst/arxiv.sty
inst/birkjour.cls
inst/bjourdoc.tex
inst/clifford.png
inst/clifford_arxiv.tex
inst/dual_numbers_clifford.R
inst/dual_numbers_clifford_cache/
inst/dual_numbers_clifford_files/
inst/dual_numbers_multivariate_clifford.Rmd
inst/hankin_aca.tex
inst/hankin_aca_revision.tex
vignettes/conformal_algebra_clifford.html
vignettes/getcoeffs.html
